/* whole body will be center and margin will be as describe below */
body {
  margin: 2rem 10rem;
}
/* website navbar */
.OuterNavBox {
  padding: 1.6rem;
  background-color: #edede9;
  margin-bottom: 2rem;
  border-radius: 10px;
}
/* website main left section box */
.OuterCardBox {
  background-color: #edede9;
  padding: 1.6rem;
  border-radius: 10px;
}
/* website main left section card styling */

/* website navbar logo styling */
.logo {
  width: 2.5rem;
  margin-right: 1.6rem;
}
/* website main left and right section add a break and excersize time styling */
.ContentTitle {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 2rem;
}
/* website right section styling */
.SideBox {
  background-color: #edede9;
  margin-left: 1rem;
  border-radius: 10px;
  border: 2px solid #eb5e28;
  width: 25rem;
  height: 48rem;
}
/* website left section card fixed width */
.CardWidth {
  width: 20rem;
  margin: 0.5rem;
}
.CardImage {
  padding: 1rem;
  height: 16rem;
  border-radius: 10px;
}
/* website right section profile pic styling */
.ProfilePic {
  width: 5rem;
  border-radius: 100%;
}
/* website right section 1st section styling */
.BorderContent {
  margin: 1rem 0;
  border: 2px solid #eb5e28;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #495057;
}
/* website right section 1st section styling */
.ContentName {
  font-weight: bold;
  font-size: 1.8rem;
  color: #edede9;
}
/* website right section 1st section styling */
.ContentAdress {
  font-size: 1.2rem;
  color: #edede9;
}
.ContentDetails{
  padding: 0;
  margin: 0;
}
.ContentDetailBold{
  font-weight: bold;
}
/* website right section 2nd section styling */
.info-box {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
/* website right section 2nd section styling */
.Number {
  font-weight: bold;
  font-size: 1.6rem;
}
/* website right section 2nd section styling */
.Number-info {
  font-weight: bold;
}
/* website right section 3rd section styling */
.breakButton {
  border: none;
  background-color: #495057;
  color: #fff;
  padding: 15px;
  border-radius: 100%;
  border: 2px solid #eb5e28;
}
/* website right section 3rd section styling */
.breakButton:hover {
  border: 2px solid #eb5e28;
}

.info-button {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0rem 1.2rem;
  border-radius: 1rem;
}
.clear-button {
  margin: 1rem 0;
  border-radius: 10px;
}
.thanks-button {
  margin-bottom: 1rem;
  border-radius: 10px;
}
.tertiary-font {
  font-size: 1.2rem;
}
.darkColor {
  background-color: #495057;
  border: 1px solid #eb5e28;
}
.darkColor:hover {
  background-color: transparent;
  color: #495057;
  border: 1px solid #eb5e28;
}
.Exercise-border {
  background-color: #495057;
  color: #edede9;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  border: 2px solid #eb5e28;
}

@media screen and (max-width: 768px) {
  body {
    margin: 1.6rem;
  }
  .OuterNavBox {
    padding: 1rem;
  }
  .Title {
    font-size: 1.2rem;
  }
  .logo {
    width: 2.5rem;
    margin-right: 0;
  }
  .SideBox {
    margin-top: 2rem;
    margin-left: 0;
  }
  .tertiary-font {
    font-size: 1rem;
  }
  .SideButton {
    padding: 5px;
  }
  .NameFont {
    font-size: 1.2rem;
  }
  .AddressFont {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1080px) {
  .SideBox {
    margin-left: 0;
  }
  .CardWidth {
    width: 25rem;
  }
  .Container-Title {
    text-align: center;
  }
}
